<model-viewer
    id="model-viewer"
    src="{{ data.modelUrl }}"
    alt="A 3D astronaut"
    reveal="manual"
    auto-rotate
    camera-controls>
    <div id="lazy-load-poster" slot="poster"></div>
</model-viewer>
